<div class="grid-container board_player">
    <div class="grid-item">
        <div class="circle">
            <img src="https://via.placeholder.com/80" alt="Avatar">
        </div>
    </div>

    <div class="grid-item">
        <p>Welcome</p>
        <p>{{ user.pseudo }}</p>
    </div>

    <div class="grid-item">
        <div class="square"></div>
        <p>Classement</p>
    </div>

    <div class="grid-item">
        <p>Nombre de parties jouées</p>
        <div class="square"></div>
    </div>

    <div class="grid-item">
        <p>Historique</p>
        <div class="history"></div>
    </div>

    <div class="grid-item">
        <p>RATIO</p>
        <div class="square"></div>
    </div>

    <div class="grid-item">
        <button type="button" class="btn btn-primary" data-path="/settings_player/">Settings</button>
    </div>

    <div class="grid-item">
        <button type="button" class="btn btn-primary" data-path="/settings_game/">Play !</button>
    </div>
</div>

