<div class="grid-container game">
    <div class="grid-item">
        <button id="startCanvas">Play</button>
        <canvas class="canvas"></canvas>
        {% comment %} 
        <h1>JEU</h1> 
        {% endcomment %}
    </div>   
    <div class="grid-item">
        <h1>Joueur 1</h1>
    </div>
    <div class="grid-item">
        <h1>Sort 1</h1>
    </div>    
    <div class="grid-item">
        <h1>Sort 2</h1>
    </div>  
    <div class="grid-item">
        <h1>Score J1</h1>
        <p id="scoreP1"></p>
    </div>
    <div class="grid-item">
        <h1>Score J2</h1>
        <p id="scoreP2"></p>
    </div>
    <div class="grid-item">
        <h1>Sort 1</h1>
    </div>    
    <div class="grid-item">
        <h1>Sort 2</h1>
    </div> 
    <div class="grid-item">
        <h1>Joueur 2</h1>
    </div>
</div>
