<div class="grid-container settings_game">
    <div class="grid-item">
        <h1>RESEAU</h1>
    </div>
    <div class="grid-item">
        <button type="button" class="btn btn-primary" data-path="/local/">Local</button>  
    </div>
    <div class="grid-item">
        <button type="button" class="btn btn-primary" data-path="/online/">Online</button>
    </div>
    <div class="grid-item">
        <button type="button" class="btn btn-primary" data-path="/board_player/">Return</button>
    </div>
</div>
