<div class="grid-container two-players">
    <div class="grid-item">
        <h1>SETTINGS</h1>
    </div>
    <div class="grid-item">
        <h1>Player 1</h1>
        <form id="settings-form">
           {% csrf_token %}
           <label> Up : 
               <input type="text" name="up_key" placeholder="default : w" maxlength="1">
           </label>
           <br>
           <label>Down: 
               <input type="text" name="down_key" placeholder="default : s" maxlength="1">
           </label>
           <br>
           <button type="submit">Save</button>
       </form>
   </div>     
    <div class="grid-item">
        <h1>IA</h1>
    </div>  
    <div class="grid-item">
        <button type="button" class="btn btn-primary" data-path="/game/">Play !</button>
    </div>
    <div class="grid-item">
        <button type="button" class="btn btn-primary" data-path="/local/">Return</button>
    </div>
</div>
