<div class="grid-container settings_game">
    <div class="grid-item">
        <h1>CHOIX DE L'ADVERSAIRE</h1>
    </div>
    <div class="grid-item">
        <button type="button" class="btn btn-primary" data-path="/IA/">User vs IA</button>
    </div>
    <div class="grid-item">
        <button type="button" class="btn btn-primary" data-path="/2_players/">2 players</button>
    </div>
    <div class="grid-item">
        <button type="button" class="btn btn-primary" data-path="/settings_game/">Return</button>
    </div>
</div>
</div>
