{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pong Game</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/settings_game.css' %}">
    
    </head>
<body>
    <h1>Ajouter des participants</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="participants">Liste des participants :</label>
            <textarea id="participants" name="participants" placeholder="Entrez un nom par ligne..."></textarea>
        </div>

        <button type="submit">Valider</button>
        <button type="button" onclick="window.location.href='{% url 'show_tournament_participants' %}'">go</button>
    </form>
</body>
</html>
